<%= form_for(@dbay) do |f| %>
  <% if @dbay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dbay.errors.count, "error") %> prohibited this dbay from being saved:</h2>

      <ul>
      <% @dbay.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field form-group">
    <%= f.label "Photo" %><br>
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.text_field :title, class: "form-control", placeholder: "Title" %> 
  </div>
  <div class="field">
    <%= f.number_field :price, class: "form-control", placeholder: "Price" %>
  </div>
  <div class="field">
    <%= f.text_area :description, class: "form-control", :rows => 15, placeholder: "Description" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
