<p id="notice"><%= notice %></p>

<div class="row">
 <% @dbays.each do |dbay| %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body"> 
      <%= image_tag dbay.avatar.url(:medium), class: "img-responsive" %>
      <p><b>ID:</b> <%= dbay.id %> </p>
       <p><b>What: <%= dbay.title %></b></p>
       <p><b>Price:</b> <%= dbay.price %> </p>
       <p><b>Description:</b> <%= dbay.description %></p>

   <div class="btn-group"> 
      <%= link_to 'Show', dbay, class: "btn btn-default" %>
      <%= link_to 'Edit', dbay_path(dbay), class: "btn btn-default" %>
      <%= link_to 'Destroy', dbay, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
      </div>
    </div>
   </div>
  </div>
 <% end %>
</div>

<%= link_to 'New Entry', new_dbay_path, class: "btn btn-default" %>
