<p id="notice"><%= notice %></p>

<%= image_tag @dbay.avatar.url(:medium) %>

<div class="panel panel-default">
	<div class="panel-heading">
  <%= @dbay.title %>
</div>

<div class="panel-body">
  <strong>Price:</strong>
  <%= @dbay.price %>
</div>

<div class="panel-body">
  <strong>Description:</strong>
  <%= @dbay.description %><br>
  <strong>Posted on:</strong><%= @dbay.created_at.strftime('%m/%d/%Y %H:%M:%S') %>
</div>

<%= link_to 'Edit', edit_dbay_path(@dbay), class: "btn btn-default"%> |
<%= link_to 'Back', dbays_path, class: "btn btn-default"%>
