<!DOCTYPE html>
<html>
<head>
  <title>Diana's List</title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation"><%= link_to "Home", home_path %></li>
    <li role="presentation"><%= link_to "Diana's List", dbays_path %></li>
    <li role="presentation"><%= link_to "Contact", contact_path %></li>
<div class="pull-right">
    <% if user_signed_in? %>
    <l1><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></l1>
    <% end %>
  </ul>
  </div>
  </div>
      </a>
    </div>
  </div>
</nav>
<div class="page-header">
  <h1> <%= image_tag "header.jpg", alt: "Diana's List",
                          id: "header_img"%></h1>
  </div>
<div class="container">
<%= yield %>
</div>
</body>
</html>